// стили навигации
.header {
    display: flex;
    position: fixed;
    max-width: 1440px;
    margin: 0 auto;
    padding: 18px 0 16px 27px;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid $border-color-grey;
    background-color: $background-color-white;
}

.navigation__today-btn {
    flex-shrink: 0;
    height: 40px;
    width: 85px;
    margin-right: 31px;
    border-radius: 3px;
    letter-spacing: 0.25px;
    box-shadow: 0px 1px 2px 0px $box-shadow-color-grey-first,
        0px 1px 3px 1px $box-shadow-color-grey-second;
    background-color: $background-color-white;
}
.create-event-btn {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 114px;
    border-radius: 20px;
    margin-right: 26px;
    font-size: 16px;
    letter-spacing: 0.25px;
    transition: border 280ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 2px 0px $box-shadow-color-grey-first,
        0px 1px 3px 1px $box-shadow-color-grey-second;
    background-color: $background-color-white;
}
