$color-black: #11223f;
$color-white: #ffff;

$border-color-grey: #808080;

$background-color-white: #ffff;

$current-day-color: #1a73e8;

$day-label-color: #817f7f;

$modal-background-color: #cccccc45;

$close-button-color: #ff0000;

$box-shadow-color-grey-first: #3c40434d;
$box-shadow-color-grey-second: #3c404326;

$time-scale-color: #6b6363;
